h1 {
    text-align: center;
}

.logo {
    color: orange;
    font-weight: bold;
}

h1 > span {
    display: inline-block;
}

h1 > span::first-letter{
    font-size: 3rem;
}

p {
    text-align: justify right;
}

main {
    margin: auto 25%;
    text-align: justify;
    padding: 10px;
}

.address {
    text-align: center;
    padding: 10px;
    
}


.faq  {
    margin: auto 25%;
    padding: 10px;
    line-height: 1.5rem;
}

hr {
    width: 50%;
}

.faq h4 ~ p {
    margin-top: 25px 0 25px 0;
}

main a {
    color: rgb(32, 32, 32);
    font-weight: 500;
    text-decoration: none;
}

main a:is(:hover, :focus) { 
    color: blue;
}