*,
*::before, 
*::after {
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    height: 100vh;
    font-family: system-ui, -apple-system, sans-serif;
}

.hero {
    text-align: center;
}


nav > ul > li {
    display: inline-block;
    list-style: none;
}


 .hero a:not(.dropdown a) {
    display: block;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    transition: transform 0.5s ease;
}

.hero a:not(.dropdown a):hover {
    color: white;
    background-color: blue;
    transform: scale(1.2);
    box-shadow: 0 3px 2px orange;
}

nav .nav-item a[aria-current="page"] {
    background-color: blue;
    color: white;
    border-bottom: 1px solid #0f0f0f; /* to match your hover style */
}

.dropdown {
    list-style: none;
    visibility: hidden;
    position: absolute;
    margin:0;
    padding:10px 5px;
    line-height: 2rem;
    opacity: 90%;
    top: 100%;
    border-radius: 10px;
    background-color: white;
    white-space: nowrap;
}


.dropdown a {
    text-decoration: none;
    color: rgb(7, 7, 7);
    opacity: 100%;
}

.nav-item {
    position: relative;
}


.nav-item:hover > .dropdown {
    visibility: visible;
}

